body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
 
  font-family: "Ba"; 
  
  src: url("./12002.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 




 body {
    background-color: black;
 }

 #rec1{
  background-image: url(./eda/Befstroganov-iz-govyadiny.jpg);
 }
 .sl1
 {
  z-index: 1;
  background-size:cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
 }

 .text1{
z-index: 10;
text-align: left;
font-size: 95px;
font-family: Ba;
font-variation-settings: "wdth" 75;
color:white;
letter-spacing: 0px;
text-shadow: black;
padding-left: 2%;
padding-top: 1%;
}

 .sl2{
  z-index: 1;
  background: url(./eda/spoons.jpg) no-repeat center center;
  line-height: 0;
  background-size:cover;
  height: 100%; 
 }

 .leftcol{
  font-size: 25px;
  line-height: 0.5;
   display: flex;
   flex-direction: column;
   font-family: Ba;
   font-variation-settings: "wdth" 75;
   color:rgb(119, 204, 98);
   letter-spacing: 0px;
   text-shadow: black; 
 }

 .leftcol2
 {margin-top: 20%;
  line-height: 0.5;
  color:rgb(124, 194, 58);

 }

 .line2
 {
  padding-top: 7%;
  padding-left: 60%;
   display: inline-flex;
 }

 .rightcol{
  padding-top: 1%;

   color:white;
   margin-left: 130px;
   font-size: 22px;
   line-height: 0.85;
   font-family: Ba;
   font-variation-settings: "wdth" 75;
 }

 .name2{
  position: absolute;
  padding-top: 5%;
  padding-left: 60%;
  color: white;
  font-variation-settings: "wdth" 75;
  font-family: Ba;
  font-size: 45px;

 }

 .sl3{
  z-index: 1;
  background: url(./eda/1-3.jpg) no-repeat center center;
  line-height: 0;
  background-size:cover;
  height: 100%; 
 }

.header3{
  color: white;
  font-variation-settings: "wdth" 75;
  font-family: Ba;
  font-size: 45px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 8%;
}

.text3{
  color: white;
  font-variation-settings: "wdth" 75;
  font-family: Ba;
  font-size: 30px;
  padding-left: 8%;
}

.first{
  padding-bottom:50px;
  padding-right: 1px;
}

.step{
  color: rgb(119, 204, 98);
position: relative;
}

#rec2{
  background-image: url(./eda/sharlotka.jpg);
 }

 #rec3{
  background-image: url(./eda/lazanya.jpg);
 }
 
 #rec4{
  background-image: url(./eda/solyanka.jpg);
 }

 #rec5{
  background-image: url(./eda/fondan.jpg);
 }

 .awssld__content div {
  z-index:1;
  z-index: 1;
  background-size:cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  }
  